{% extends 'base.html' %}

{% block header %} 
  <h1>{% block title %}Submit a File{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
      <label for="cusine">Select your prefred cusine:</label><br>
      <select name="cusine" id="choice">
	<option value="option1">Option 1</Italian>
   	<option value="option2">Option 2</Mexican>
    	<option value="option3">Option 3</Korean>

      <label for="image">Please upload images of the ingredients you have.</label><br>
      <input type="file" name="images[]" id="images" multiple>

      <input type="submit" value="Submit form">
  </form>

  {% if thanks %}
    Thanks for submitting a file!
  {% endif %}

  {% if digit %}
    <br>
    Thanks for the image!  It looks like a {{digit}}.
    <br>
    <img src="{{ image }}", alt="an 8x8 visualization of the supplied digit."/>
  {% endif %}

  {% if error %}
    <br>
    Oh no, we couldn't use that file!  Please upload an 8x8 numpy array as a text file.
  {% endif %}
{% endblock %}
